.modal {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35);
}

.btn-wrap {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.card {
  padding: 3.5rem 4rem;
  border-radius: 6px;
  background-color: #fff;
  position: relative;
  z-index: 999;
}

.heading-2 {
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
}

.title {
  margin-top: 0px;
  margin-bottom: 2rem;
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  font-weight: 700;
}

.field-label {
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 0.875rem;
  line-height: 140%;
  font-weight: 400;
}

.category {
  /* margin-bottom: 4rem; */
  padding: 0.5rem;
  /* padding-right: 0px;
  padding-left: 0px; */
  /* border-style: none none solid; */
  border-width: 1px;
  border-color: #7e7e7e;
}

.category::-webkit-input-placeholder {
  color: #000;
  font-size: 0.875rem;
  line-height: 140%;
}

.category:-ms-input-placeholder {
  color: #000;
  font-size: 0.875rem;
  line-height: 140%;
}

.category::-ms-input-placeholder {
  color: #000;
  font-size: 0.875rem;
  line-height: 140%;
}

.category::placeholder {
  color: #000;
  font-size: 0.875rem;
  line-height: 140%;
}

.form-block-2 {
  min-width: 300px;
}

.api-url {
  padding: 0.5rem;
  /* margin-bottom: 4rem;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none none solid; */
  border-width: 1px;
  border-color: #7e7e7e;
}

.api-url::-webkit-input-placeholder {
  color: #000;
  font-size: 0.875rem;
  line-height: 140%;
}

.api-url:-ms-input-placeholder {
  color: #000;
  font-size: 0.875rem;
  line-height: 140%;
}

.api-url::-ms-input-placeholder {
  color: #000;
  font-size: 0.875rem;
  line-height: 140%;
}

.api-url::placeholder {
  color: #000;
  font-size: 0.875rem;
  line-height: 140%;
}

.submit-button-2 {
  border-radius: 20px;
  background-color: #000;
  color: white;
  padding-bottom: 30px;
  width: 30%;
  margin-left: 5px;
  margin-top: 1rem;
}

@media screen and (max-width: 479px) {
  .news-card.mb-32 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .right {
    margin-bottom: 16px;
  }

  .card {
    padding: 2rem 1rem;
  }

  .title {
    margin-bottom: 3rem;
  }

  .category {
    margin-bottom: 2rem;
  }

  .api-url {
    margin-bottom: 2rem;
  }
}
